.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0.5rem;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  color: grey;
  margin: 0.5rem 0;
}

.message {
  text-align: center;
  font-size: 1.5rem;
}

.percentage {
  text-align: center;
  font-size: 2rem;
}
