.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0.5rem;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  color: grey;
  margin-top: 2.5rem;
}

.message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 2rem;
}

.percentage {
  text-align: center;
  font-size: 2rem;
}
