.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0.5rem;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  color: grey;
  margin: 1rem 0;
}

.message {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
  animation: fadeMessage 3.05s ease-in-out infinite;
}

.percentage {
  text-align: center;
  font-size: 2rem;
}

@keyframes fadeMessage {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
}

@media (max-width: 500px) {
  .loading {
    justify-content: unset;
    margin-top: 2rem;
  }
}
